.wrapper-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

.back-button {
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  align-items: center;
}

.back-button span {
  display: none;
  margin-left: 10px;
}

.charging-point-edit {
  max-width: 500px;
  margin-top: 30px;
  padding: 50px 45px;
  text-align: center;
  font-family: 'Poppins';
  color: #333;
}

.title {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 10px;
  color: #007bff;
  margin-top: 20px;
}

label {
  text-align: left;
  color: #424242;
}

.place-name {
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 500;
  margin-bottom: 20px;
}

label {
  display: block;
  margin: 20px 0 10px;
  font-size: 18px;
}

select {
  width: 90%;
  padding: 15px;
  margin-bottom: 30px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.update-button {
  background-color: #007bff;
  color: white;
  border: none;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  border-radius: 25px;
  width: auto;
  padding: 15px 90px;
  font-size: 14px;
  cursor: pointer;
  position: absolute;
  bottom: 80px;
  left: 50%; 
  transform: translateX(-50%);
}

/* Desktop */
@media (min-width: 768px) {
  .charging-point-edit {
    padding: 50px 30px 50px 0;
  }

  .back-button span {
    display: inline;
  }

  label {
    font-size: 20px;
  }

  select {
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
    font-size: 18px;
  }
}
