.available-charges-container {
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 20px auto;
  text-align: center;
}

.available-charges-container h2 {
  margin-bottom: 10px;
}

.available-charges-container p {
  margin-bottom: 20px;
}

span {
 color: #007bff;
}

.charge-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.car-info {
  text-align: center;
}

.car-image {
  width: 100%;
  max-width: 150px;
  height: auto;
}

.car-name {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 400;
}



.charge-details {
  text-align: left;
  flex: 1;
  margin-left: 20px;
}

.charge-details p {
  margin: 4px 0;
  font-size: 10px;
}

.payment {
  font-size: 18px;
  text-align: center;
  font-weight: bold;
  color: #007bff;
}

@media (min-width: 408px) {
  .charge-details p {
    margin: 4px 0;
    color: #666;
    font-size: 14px;
  }
}

@media (min-width: 768px) {
  .car-image {
    max-width: 180px;
  }
}

@media (min-width: 1024px) {
  .car-image {
    max-width: 200px;
  }
}
